.options-component{
    position: relative;
    width: auto;
    height: 20vh;
    top: 0px;
    background: #817a7a;
}

.city{
    background: url(images/image12.png) no-repeat scroll 7px 7px;
    padding-left:30px;
}

.country{
    background: url(images/image13.png) no-repeat scroll 7px 7px;
    padding-left:30px;
}

.start-date{
    background: url(images/image16.png) no-repeat scroll 7px 7px;
    padding-left:30px;
}

.end-date{
    background: url(images/image17.png) no-repeat scroll 7px 7px;
    padding-left:30px;
}