.container-header-register{
    position: relative;
    width: auto;
    height: 8.3vh;
    top: 0px;
    background: black;
}

.header-image{
    position: absolute;
    bottom: 35%;
    left: 5%;
    transform: scale(3.5);
}